{% extends 'base.html' %}
{% block title %}MyLawyer - Register{% endblock %}

{% block content %}
<br><br><br>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3 py-3">Sign Up</p>


                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}"
                        role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div data-mdb-input-init class="form-outline mb-2">
                        <label class="form-label" for="form3Example3">Username</label>
                        <input type="text" name="username" id="form3Example3" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />

                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <label class="form-label" for="form3Example3">Email address</label>
                        <input type="email" name="email" id="form3Example3" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />

                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <label class="form-label" for="form3Example4">Password</label>
                        <input type="password" name="password1" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Enter password" />

                    </div>

                    <div data-mdb-input-init class="form-outline mb-2">
                        <label class="form-label" for="form3Example4">Re-enter Password</label>
                        <input type="password" name="password2" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Enter password" />

                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-lg custom-login"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                        <br><br>

                    </div>

                </form>
            </div>
        </div>
    </div>

</section>


{% endblock %}